<!DOCTYPE html>
<html>
    <head>
        <title>Items</title>
        <link rel="stylesheet" href="/static/css/board.css">
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            .item-block {
                height: 32px;
                width: 32px;
            }
        </style>
    </head>
    <body class="body">
        <h3>Item list</h3>
        <form action="/">
            <button type="submit">To Index Page</button>
        </form>
        <ul>
        {% for item in item_details %}
            <li>
                <div>
                    <img class="item-block" src="/static/image/item/{{ item['Item_ID'] }}.png">
                    <b>{{ item['Name'] }}</b>
                </div>
                <div>Description: {% autoescape false %}{{ item['Description'].replace('\n','<br>') }}{% endautoescape %}</div>
            </li>
            <br>
        {% endfor %}
        </ul>
    </body>
</html>