<!DOCTYPE html>
<html>

<head>
    <title>Board Page</title>
    <link rel="stylesheet" href="../static/css/board.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="body">
    <div class="board-grid" id="div-board-grid">
        <div class="square-outer">
        <div class="square-inner 0">
            <img class="champion-block" draggable="true" src="../static/image/champion/0.png">
            <img class="item-block" draggable="true" src="../static/image/item/0.png">
        </div>
        </div>
        <div class="square-outer">
        <div class="square-inner 1">
            <img class="champion-block" draggable="true" src="../static/image/champion/5.png">
        </div>
        </div>
        <div class="square-outer">
        <div class="square-inner 2">
            <img class="champion-block" draggable="true" src="../static/image/champion/5.png">
        </div>
        </div>
        <div class="square-outer">
        <div class="square-inner 3">
            <img class="champion-block" draggable="true" src="../static/image/champion/8.png">
        </div>
        </div>
        <div class="square-outer">
            <div class="square-inner 4"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 5"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 6"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 7"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 8"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 9"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 10"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 11"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 12"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 13"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 14"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 15"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 16"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 17"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 18"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 19"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 20"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 21"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 22"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 23"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 24"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 25"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 26"></div>
        </div>
        <div class="square-outer">
            <div class="square-inner 27"></div>
        </div>
    </div>
</body>

</html>